body {
    background-color: rgb(232, 240, 239);
    text-align: center;
    width: 100%;
    height: 100vh;

}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    color: rgb(0, 0, 0);
}

.my-image {
  width: 100%;
  height: auto;
}
